@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.loginPrincipal {
    display: flex;
    width: 100%;
    height: 99.8vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.imgLogoLume {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 150px;
    height: auto;
    z-index: 10;
    transition: all 0.3s ease;
    cursor: pointer;
}

.loginInitial {
    width: 350px;
    border-radius: 20px;
    background-color: rgba(64, 64, 64, 0.15);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4),
        0 15px 25px rgba(0, 0, 0, 0.25),
        0 5px 10px rgba(0, 0, 0, 0.15) inset;
    backdrop-filter: blur(0px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.loginInitial h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.loginSpan {
    color: #cf65ff;
}

.inputEmail {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.emailLabel {
    font-size: 13px;
    font-weight: 100;
    color: white;
}

.inputEmail input {
    width: 100%;
    max-width: 250px;
    height: 30px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: #27272a;
    color: white;
    outline: none;
}

.emailSpan {
    font-size: 13px;
    font-weight: 100;
    display: block;
    width: 100%;
    text-align: left;
}


.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonStyle {
    width: 100%;
    max-width: 250px;
    height: 30px;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(to right, #a21645 0%, #c4126e9c 39%, #530344 100%);
    font-family: "Quicksand", sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonStyle:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lineDivision {
    width: 100%;
    max-width: 260px;
    height: 1px;
    margin-top: 20px;
    background-color: #4624d9;
}

.twoLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.styleAccont {
    color: #cf65ff;
}

.createAccont {
    font-size: 16px;
    margin-bottom: 10px;
}

.loginGoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
    color: #000;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    background-color: white;
}

.imgLogoGoogle {
    width: 20px;
    margin-right: 10px;
}

@media (max-width: 730px) {
    .imgLogoLume {
        top: 10px;
        left: 10px;
        width: 80px;
    }
}

@media (max-width: 480px) {
    .loginInitial {
        width: 90%;
        padding: 15px;
    }

    .loginInitial h1 {
        font-size: 24px;
    }

    .oneLine {
        gap: 15px;
    }

    .inputEmail input {
        width: 100%;
    }

    .buttonStyle {
        width: 100%;
        max-width: 250px;
    }

    .lineDivision {
        width: 100%;
    }

    .createAccont {
        font-size: 14px;
    }

    .loginGoogle {
        width: 250px;
        font-size: 13px;
    }

    .imgLogoGoogle {
        width: 16px;
        margin-right: 8px;
    }
}