.container {
    /* min-height: 55vh; */
    padding-bottom: 50px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #512E74;
    text-align: center;
}

.container>h2 {
    margin: 25px;
    font-size: 45px;
    border-bottom: 1px solid white;
    display: inline-block;
}

.conteudo {
    max-width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    /* gap: 350px; */
    justify-content: space-evenly;
    align-items: center;
}

.cadastrarEmpresa,
.cadastrarEmpresaMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cadastrarEmpresa h2,
.cadastrarEmpresaMobile h2 {
    font-size: 55px;
    font-weight: 100;
}

.linkCadastrar {
    text-align: center;
    background-color: rgba(112, 52, 177, 0.90);
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 10px;
    background: #3771C8;
    background: linear-gradient(90deg, rgba(55, 113, 200, 1) 0%, rgba(122, 46, 203, 1) 100%);
    font-size: 25px;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.containerDireitaMaisInfo {
    display: flex;
    gap: 100px;
    background-color: #472968;
    filter: drop-shadow(0px -1px 20px #7A2ECB);
    border-radius: 54px;
    padding: 30px;
    text-align: left;
}

.containerDireitaMaisInfo h2 {
    font-size: 35px;
}

.info1,
.info2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info1 img,
.info2 img {
    height: 250px;
}

.info1Texto,
.info2Texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info2Texto h2 {
    font-weight: 200;
}

.lumeNome {
    color: #C990FA;
}

.cadastrarEmpresaMobile {
    display: none;
}


.fundoDegrade {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    text-align: center;

    background: #523472;
    background: -webkit-linear-gradient(360deg, rgba(82, 52, 114, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(360deg, rgba(82, 52, 114, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(360deg, rgba(82, 52, 114, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#523472", endColorstr="#000000", GradientType=0);
}

@media (max-width: 1380px) {

    .conteudo {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    }

    .containerDireitaMaisInfo {
        /* flex-direction: column; */
        gap: 6vw;
        background-color: #472968;
        filter: drop-shadow(0px -1px 20px #7A2ECB);
        border-radius: 54px;
        padding: 30px;
        text-align: left;
    }
}

@media (max-width: 1070px) {
    .containerDireitaMaisInfo {
        flex-direction: column;
        border-radius: 20px;
        gap: 30px;
        padding: 5%;

    }

    .cadastrarEmpresa {
        display: none;
    }

    .cadastrarEmpresaMobile {
        display: block;
        display: flex;
        text-align: center;
        gap: 25px;
    }

    .cadastrarEmpresaMobile h2 {
        font-size: 40px;
    }
}

@media (max-width: 620px) {

    .container > h2 {
        font-size: 5.5vw;
    }

    .info1 img, .info2 img {
        height: 40vw;
    }

    .info1Texto h2, .info2Texto h2 {
        /* gap: 10px; */
        font-size: 5.5vw;
    }

    .info1Texto p, .info2Texto p {
        font-size: 2.5vw;
    }

    .cadastrarEmpresaMobile h2 {
        font-size: 6vw;
    }

    .linkCadastrar {
        padding: 3vw 9vw;
        font-size: 4vw;
    }
}