.header {
    /* border: 1px solid red; */
    padding-block: 2.4rem;
}

/* width: clamp(min, preferred, max); */

.headerList {
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    list-style: none;
}

.headerListItens {
    display: flex;
    align-items: center;
}

.headerListItens2 {
    position: relative;
}

.headerListItens2 input {
    border: none;
    border-radius: 77px;
    padding: 12px;
    outline: none;
    box-shadow: 0 2px 0px var(--gray);
    font-size: 1rem;
    width: 100%;
    font-size: 16px;
    color: black;
}

.headerListItens2 img:nth-child(2){
    position: absolute;
    right: 23px;
    width: 24px;
    /* height: 20px; */
    cursor: pointer;
}

.clubeComLoginRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.clubeComLoginRegistroMobile {
    display: none;
}

.clubeComLoginRegistroMobile img {
    width: 7vw;
}

.headerListItens3 {
    color: rgb(255, 255, 255);
    background-color: #7709A3;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 17px;
    text-decoration: none;
}

.loginRegistro  {
    display: flex;
    align-items: center;
    gap: 20px;
}

.loginRegistro li {
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 70px;
    padding: 2px 22px 5px 22px;
    font-size: 19px;
    cursor: pointer;
}

.logo {
    max-width: 11vw;
    padding-bottom: 10px;
    /* min-width: 100px; */
    cursor: pointer;
}

.menuHamburguerMobile {
    display: none;
    width: 8vw;
}

.nav {
    margin-top: 25px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.33);;
    border-radius: 41px;
    padding: 5px 1.8vw 8px 5.5vw;
    font-size: 20px;
}

.nav ul li {
    cursor: pointer;
}

.nav ul img {
    cursor: pointer;
}

.navComSearch ul img {
    width: 25px;
}

.navList {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 7px;
}

.navList2 {
    gap: 15px;
}

.bolaPontilhada {
    margin-top: -10px;
}

@media (max-width: 1220px) {
    .clubeComLoginRegistro {
        display: none;
    }
    .clubeComLoginRegistroMobile {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 1030px) {
    .nav {
        display: none;
    }
    .headerList {
        gap: 3vw;
    }
    .headerListItens2 {
        width: 70vw;
    }
    .logo {
        display: none;
    }
    .menuHamburguerMobile {
        display: block;
        cursor: pointer;
    }

    .headerListItens2 img:nth-child(2){
        right: 15px;
    }
    .header {
        background-color: rgba(217, 217, 217, 0.20);

    }
}

@media (max-width: 530px) {
    .headerListItens2 input {
        font-size: 13px;
    }
}

