.sectionQueAgrupaTodosOsElementos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.containerEsquerda {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 32px;
}

.titulo {
    font-size: 3.2rem;
    filter: drop-shadow(0px 3.2px 4px #5C00BF);
}

.containerEsquerda p {
    font-size: 28px;
}

.comeceAComprar {
    text-align: center;
    background-color: rgba(112, 52, 177, 0.90);
    text-decoration: none;
    padding: 16px 12px;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(55, 113, 200, 1) 0%, rgba(122, 46, 203, 1) 100%);
    border: 0.8px solid #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.comeceAComprar:hover {
    transform: scale(1.05);
}

.containerEsquerdaTextoComBotao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.containerDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.containerDireita h2 {
    font-size: 32px;
}

.containerDireitaTituloComProdutos {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containerDireitaSetasCarrousel {
    display: flex;
    gap: 16px;
}

.containerDireitaProdutosCarrosel {
    display: flex;
    gap: 8px;
    background-color: rgba(112, 52, 177, 0.90);
    border-radius: 32px;
    padding: 12px;
    border: 0.8px solid white;
    filter: drop-shadow(0px 3.2px 16.8px #000000);
    transition: all 1.0s ease;
}

.containerDireitaProdutosCarroselItem img {
    width: 88px;
}

.containerDireitaSetasCarrousel>img {
    width: 16px;
}

.containerDireitaBannersCarrosel {
    background-color: rgba(128, 128, 128, 0.28);
    padding: 16px;
    border-radius: 28px;
    margin-bottom: 24px;
}

.containerDireitaBannersCarrosel img {
    width: 400px;
}

@media (max-width: 1220px) {
    .sectionQueAgrupaTodosOsElementos {
        all: unset;
    }

    .containerEsquerda {
        all: unset;
        display: flex;
        justify-content: center;
    }

    .containerEsquerdaTextoComBotao {
        display: none;
    }

    .titulo {
        padding: 25px 0;
        border-bottom: #3771C8 4px solid;
        margin-bottom: 40px;
        width: 100%;
        text-align: center;
    }

    .containerEsquerda h1 {
        font-size: 42.4px;
    }

    .containerDireitaTituloComProdutos {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .containerDireitaTituloComProdutos h2 {
        text-align: center;
    }
}

@media (max-width: 756px) {
    .containerDireitaTituloComProdutos h2 {
        font-size: 22px;
    }

    .containerDireitaSetasCarrousel>img {
        display: none;
    }

    .titulo {
        font-size: 5.6vw !important;
    }

    .containerDireitaProdutosCarrosel {
        display: flex;
        gap: 8px;
        background-color: rgba(115, 0, 238, 0);
        border-radius: 32px;
        border: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all 1.0s ease;
    }

    .containerDireitaBannersCarrosel {
        background-color: rgba(128, 128, 128, 0.28);
        width: 58.4vw;
        padding: 9.6px;
        border-radius: 28px;
    }

    .containerDireitaBannersCarrosel img {
        width: 100%;
        border-radius: 16px;
    }
}

@media (max-width: 670px) {
    .containerDireitaBannersCarrosel {
        width: 385px;
    }
}

@media (max-width: 400px) {
    .containerDireitaBannersCarrosel {
        width: 95vw;
    }
}