.produtosItems {
    background-color: rgba(0, 0, 0, 0.28);
    padding: 14px 0 0 0;
    border-radius: 15px;
    /* text-align: center; */

}

.produtosItems img {
    width: 110px;
    height: 120px;
}

.produtosItems figcaption {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 12px 20px 12px;
    border-radius: 20px;
}

.produtosItems figcaption h2 {
    font-size: 10px;
    font-weight: 100;
}

.produtosItems figcaption>p {
    font-size: 11px;
    font-weight: 100;
}

.produtosItems figcaption div {
    display: flex;
    align-items: center;
}

.porcentagemOff p:nth-child(2) {
    font-size: 13px;
    font-weight: 100;
    color: rgb(117, 255, 48);
}


.produtosItems figcaption p del {
    margin: 0px 5px;
    color: rgb(163, 155, 155);
    text-decoration-color: black;
}

.porcentagemOff {
    display: flex;
    gap: 20px;
}

.porcentagemOff p:nth-child(1) {
    font-size: 16px;
}

.produtosItems:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media (max-width: 620px) {

    .produtosItems img {
        width: 18vw;
        height: 19vw;
    }

    .produtosItems figcaption h2 {
        font-size: 2.2vw;
        font-weight: 100;
        max-width: 170px;
    }

    .produtosItems figcaption>p {
        font-size: 2.1vw;
        font-weight: 100;
    }

    .porcentagemOff p:nth-child(1) {
        font-size: 3.3vw;
    }

    .porcentagemOff p:nth-child(2) {
        /* font-size: 2.vw; */
        font-weight: 100;
        color: rgb(117, 255, 48);
    }

    .produtosItems figcaption {
        padding: 3vw;
    }
}

@media (max-width: 400px) {

    .produtosItems figcaption h2 {
        font-size: 3vw;
        font-weight: 100;
        max-width: 170px;
    }

    .produtosItems figcaption>p {
        font-size: 2.7vw;
        font-weight: 100;
    }

    .porcentagemOff p:nth-child(1) {
        font-size: 3.5vw;
    }

    .porcentagemOff p:nth-child(2) {
        font-size: 3vw;
        font-weight: 100;
        color: rgb(117, 255, 48);
    }


    .produtosItems img {
        width: 20vw;
        height: 21vw;
    }

    .produtosItems {
        /* padding: 2vw; */
        width: 100%;
        max-width: 43vw;
    }
}

/* white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word; */