.modalOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, background-color 0.3s ease, visibility 0s linear 0.3s;
}

.modalOverlay.open {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition-delay: 0s;
}

.modalContent {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modalOverlay.open .modalContent {
    transform: scale(1);
    opacity: 1;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
