.sectionQueAgrupaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 150px 220px;
    margin: 0 auto;
}

.sectionQueAgrupaContainer h2 {
    color: #CF65FF;
    font-size: 28px;
}

.containerTopicos {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    font-size: 20px;
}