@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: url(../public/vagalumeCursor.svg) 10 10, auto;
}

:root {

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;

  --purple: #7A2ECB;
  --soft-purple: #E4C6FF;
  --yellow: #E5FF1D;
  --soft-white: #FAF3FF;
  --black: #000;
  --soft-black: #312E34;
  --gray: #CCCCCC;
  --soft-gray: #DDD9D3;
  --gradient: linear-gradient(90deg, #FAF3FF 0%, #DDD9D3 50%, #CCCCCC 100%);

  --card-bg: #111d4a;
  --image-placeholder-bg: #3c5aa6;
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --text-tertiary: #a0a0c0;
  --accent-blue: #63a4ff;
  --accent-green: #32d194;
  --star-color: #00a6ff;
  --verified-bg: #ffffff;

  --verified-check: #0077b6;
  --background-color: #1a1a2e;
  --card-background-color: #2e2e4d;
  --primary-accent-color: #9d4edd;
  --secondary-accent-color: #e0aaff;
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #c7c7c7;
  --border-color: #4a4a6a;
  --star-color: #00a6ff;

  --success-color: #4caf50;
  --page-bg: #0b0f2b;
  --container-bg: #1a1a2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;
}

html.grayscale {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

html.grayscale .accessibilityMenu,
html.grayscale .chatButton,
html.grayscale .modalOverlay {
  filter: grayscale(0%);
}

body.high-contrast {
  --page-bg: #000000;
  --card-bg: #000000;
  --container-bg: #000000;
  --text-primary: #ffffff;
  --text-secondary: #f0f0f0;
  --text-tertiary: #dcdcdc;
  --accent-blue: #00FFFF;
  --accent-green: #FF00FF;
  --border-color: #ffffff;
  --star-color: #00FFFF;
}

body.high-contrast a,
body.high-contrast button,
body.high-contrast input {
  border: 1px solid white !important;
}

body.high-contrast button.active,
body.high-contrast .btnPrincipal {
  background-color: var(--accent-blue) !important;
  color: black !important;
  border-color: black !important;
}

body.high-contrast .modalContent {
  background-color: black !important;
  border: 1px solid white !important;
}