@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: url(../public/vagalumeCursor.svg) 10 10, auto;
}

:root {

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;

  --purple: #7A2ECB;
  --soft-purple: #E4C6FF;
  --yellow: #E5FF1D;
  --soft-white: #FAF3FF;
  --black: #000;
  --soft-black: #312E34;
  --gray: #CCCCCC;
  --soft-gray: #DDD9D3;
  --gradient: linear-gradient(90deg, #FAF3FF 0%, #DDD9D3 50%, #CCCCCC 100%);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;
}