.sobreNos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 2rem;;
}

.sobreNosTexto h1 {
    font-size: 3.125rem;
    margin-bottom: 1rem;
}

.sobreNosTexto p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}	

.sobreNosImagemMulher {
    /* max-width: 450px; */
    max-width: 25vw;
}

.sobreNosImagemELinhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    position: relative;
}

.sobreNosLinhas {
    display: flex;
    gap: 35px;
    position: absolute;
    bottom: -70px;
    left: -25px;
}

@media (max-width: 1250px) {
    .sobreNosTexto h1 {
        font-size: 2.5rem;
    }

    .sobreNosTexto p {
        font-size: 2rem;
    }

    .sobreNosImagemMulher {
        max-width: 30vw;
    }

    .sobreNosLinhas {
        bottom: -50px;
    }
}

@media (max-width: 850px) {
    .sobreNosTexto h1 {
        font-size: 2.5rem;
    }

    .sobreNosTexto p {
        font-size: 1.5rem;
    }

    .sobreNosLinhas {
        bottom: -50px;
    }
}