.parcerias {
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
    /* margin: 60px 0; */
}

.parcerias>h2 {
    font-size: 50px;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 20px;
}

.parcerias h3 {
    text-align: left;
    font-size: 35px;
    font-weight: 400;
}

.parceriasCarrosel {
    display: flex;
    gap: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 25px;
}

.vagalumeAbsolute {
    position: relative;
}

.vagalumeCarrosel {
    position: absolute;
    width: 60px;
    left: -25px;
    top: -25px;
}


.parceriasCarroselComSetas {
    display: flex;
    gap: 20px;
}

.parceriasCarroselComSetas>img {
    width: 20px;
    cursor: pointer;
}


.parceriasCarroselEsquerda img:nth-child(2) {
    width: 180px;
}

.parceriasCarroselComTexto {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 35px;
}

.parceriasCarroselDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.parceriasCarroselDireitaImagens {
    display: flex;
    gap: 20px;
    align-items: center;
}

.parceriasCarroselDireitaImagens img {
    width: 120px;
}

.botaoSaibaMais {
    background-color: #1B4799;
    text-decoration: none;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.containerParceiroMobile {
    display: flex;
    gap: 40px;
}



@media (max-width: 1220px) {
    .parceriasCarrosel {
        position: relative;
        display: flex;
        gap: 20px;
        /* padding: 2.5vw 2.5vw 2.5vw 2.5vw; */
    }

    .containerParceiroMobile>h3 {
        font-size: 3vw;
    }

    .parceriasCarroselDireitaImagens img {
        width: 10vw;
    }

    .parcerias>h2 {
        font-size: 4vw;
    }
}

@media (max-width: 975px) {

    .parceriasCarroselComTexto {
        all: unset;
        display: flex;
        gap: 15px;
    }

    .parcerias>h2 {
        font-size: 40px;
    }

    .parceriasCarroselDireitaImagens {
        display: none;
    }

    .containerParceiroMobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .containerParceiroMobile h3 {
        font-size: 25px;
    }
}

@media (max-width: 620px) {
    .parcerias>h2 {
        margin-bottom: 10px;
        font-size: 5.5vw;
    }

    .vagalumeCarrosel {
        width: 10.5vw;
    }

    .parceriasCarroselEsquerda img:nth-child(2) {
        width: 25vw;
    }

    .containerParceiroMobile h3 {
        font-size: 3.5vw;
    }

    .parceriasCarroselComSetas>img:nth-child(1) {
        width: 14px;
    }

    .parceriasCarroselComSetas>img:nth-child(3) {
        width: 14px;
    }

    .botaoSaibaMais {
        padding: 1.25vw 3.25vw;
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    .vagalumeCarrosel {
        left: -5.5vw;
        top: -5vw;
    }
}