@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    min-height: 20vh;
    background-color: #180032;
    height: 310px;
}

.conteudo {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.container ul {
    list-style: none
}

.container a {
    text-decoration: none;
}

.columOne {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
}

h3 {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.columTwo li,
.columThree li,
.columFour li {
    margin-top: 35px;
    font-weight: 100;
    font-size: 20px;
}

.imgInstagram,
.imgLinkdln,
.imgGitHub {
    width: 24px;
}

.redesSociais {
    display: flex;
    gap: 10px;
}

.sigaNos {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.conjuntoColum {
    display: flex;
    padding-top: 40px;
    gap: 80px;
}

.contornoIcons {
    background-color: #fff;
    width: 320px;
    height: 0.3px;
    padding-top: 5px;
}

.copyright {
    text-align: center;
    padding-block: 2.5rem;
    font-size: 1.5rem;
    font-weight: 200;
}

@media (max-width: 1220px) {

    .conteudo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .columOne {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }


    .sigaNos,
    .contornoIcons {
        display: none;
    }

    .columOneLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .redesSociais {
        align-items: end;
        /* justify-content: center; */
        gap: 5vw;
        border-bottom: 3px solid #fff;
        /* margin: auto 0; */
    }

    .columOneLogo img {
        width: 20vw;
    }

    .imgGitHub,
    .imgInstagram,
    .imgLinkdln {
        width: 40px;
    }

    .conjuntoColum {
        gap: 8vw;
    }
}

@media (max-width: 700px) {

    .columTwo h3,
    .columThree h3,
    .columFour h3 {
        font-size: 2.5vw;
    }

    .imgGitHub,
    .imgInstagram,
    .imgLinkdln {
        width: 6vw;
    }

    .columTwo li,
    .columThree li,
    .columFour li {
        margin-top: 5vw;
        font-weight: 100;
        font-size: 2.5vw;
    }

    .copyright {
        font-size: 2.8vw;
    }

    .columOneLogo p {
        font-size: 2.3vw;
    }
}